* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(12, 12, 58);
}

.container {
  padding: 20px;
}

.form {
  background-color: rgb(248, 237, 178);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.form > form {
  display: flex;
  flex-direction: column;
  flex-shrink: 20px;
  justify-content: center;
  align-items: center;
}
.form > form > label {
  width: 100%;
  margin-left: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.form > form > input,
.form > form > textarea {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
}

#validation {
  width: 100%;
  margin-left: 35px;
  text-align: left;
  color: rgb(182, 0, 0);
  font-family: "Roboto", sans-serif;
  transition: display 0.5 ease;
  display: none;
}

.form > form > button {
  align-items: center;
  appearance: none;
  background-color: #abffd5;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.form > form > button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.form > form > button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.form > form > button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
