
#colorResponsabilidad{
    color: rgb(75, 75, 255)
}

#colorPertinencia{
    color: rgb(27, 27, 235)
}

#colorExcelencia{
    color: rgb(6, 6, 168)
}

#colorTransparencia{
    color: rgb(0, 0, 114)
}

#colorEquidad{
    color: rgb(0, 0, 70)
}